.d3-tip {
/* line-height: 1; */
  padding: 12px;
  background: rgba(50, 50, 50, 0.9);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  max-width: 260px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(50, 50, 50, 0.9);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/* Social Icons displayed inside tooltips */
a.sicons {
    background-repeat: no-repeat;  
    margin-right: 3px;
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: top;
}

a.twitter    { background-image: url("../img/tw.png"); }
a.facebook   { background-image: url("../img/fb.png"); }
a.linkedin   { background-image: url("../img/ln.png"); }
a.googleplus { background-image: url("../img/gp.png"); }
a.angellist  { background-image: url("../img/al.png"); }

/* Description displayed inside tooltips */
.description {
    border-top: 1px solid #fafafa;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 0.9em;
}